<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{%block title_block %}
{% if user.is_authenticated %}
	Howdy {{ user.username }}!
{% else %}
	Hey there partner!
{% endif %}
{% endblock %}

{% block body_block %}
	<h1 align = center style="font-family:verdana"> Rango says hello! </h1>
	
	<div> <p>
	{% if user.is_authenticated %}
		Howdy {{ user.username }}!
	{% else %}
		Hey there partner!
	{% endif %}
	</div>	</p>
	
	
	<h2>Most Liked Categories</h2>
	{% if categories %}
	<ul>
		{% for category in categories %}
		<!-- Following line changed to add an HTML hyperlink -->
		<li>
		<a href="{% url 'show_category' category.slug%}">{{ category.name }}</a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}
	
	<h2>Most Viewed Pages</h2>
	{% if pages %}
	<ul>
		{% for page in pages %}
		<!-- Following line changed to add an HTML hyperlink -->
		<li>
		<a href="{{page.url}}">{{ page.title }}</a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>There are no pages present.</strong>
	{% endif %}
		<img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" width = 721 height = 502 />
	<br>
	visits: {{ visits }}	
{% endblock %}